.m-tag{
    display: inline-block;
    background-color: rgba(64,158,255,.1);
    color: #409eff;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(64,158,255,.2);
    &.m-tag_success{
        color: #67c23a;
        background-color: rgba(103,194,58,.1);
        border-color: rgba(103,194,58,.2);
        .m-tag_close{
            &:hover{
                background-color: #67c23a;
            }
        }
    }
    &.m-tag_info{
        background-color: hsla(220,4%,58%,.1);
        border-color: hsla(220,4%,58%,.2);
        color: #909399;
        .m-tag_close{
            &:hover{
                background-color: #909399;
            }
        }
    }
    &.m-tag_warning{
        background-color: rgba(230,162,60,.1);
        border-color: rgba(230,162,60,.2);
        color: #e6a23c;
        .m-tag_close{
            &:hover{
                background-color: #e6a23c;
            }
        }
    }
    &.m-tag_danger{
        background-color: hsla(0,87%,69%,.1);
        border-color: hsla(0,87%,69%,.2);
        color: #f56c6c;
        .m-tag_close{
            &:hover{
                background-color: #f56c6c;
            }
        }
    }
    .m-tag_close{
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 50%;
        font-size: 16px;
        position: relative;
        right: -5px;
        top: 1px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            background-color: #409eff;
            color: #fff;
        }
    }
}