.m-radio{
    color: #606266;
    font-size: 14px;
    margin-right: 20px;
    .m-radio_input{
        position: relative;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        .m-radio__inner{
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #dcdfe6;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    &.is-checked{
        .m-radio__inner{
            background-color: #409eff;
            border-color: #409eff;
            position: relative;
            &::after{
                content: '';
                width: 4px;
                height: 4px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .m-radio_text{
        padding-left: 10px;
    }
    &.is-disabled{
        .m-radio__inner{
            background-color: #f5f7fa;
            border-color: #e4e7ed;
            cursor: not-allowed;
            &::after{
                background-color: #c0c4cc
            }
        }
        .m-radio_text{
            cursor: not-allowed;
            color: #c0c4cc;
        }
    }
}